html, body{
	width: 100%;
	height: 100%;
}
#vote {
	margin:20px;
}

#vote .panel-body{
	width: 100%;
	height: 170px;
	overflow-y: scroll;
}

#vote .panel-body > {
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

#vote .panel-body > :nth-child(2n+0){
	background-color: rgba(0,0,0,0.1);
}

#imgrole {
	height: 250px;
    margin: auto;
}    